
body, td.contentsarea  {
	background-color:#ffffff; 
	color: #000000;
	width:100%;
	padding:0;
	margin:0;
	font-size: 9pt;
	font-family: helvetica, "trebuchet MS", arial, sans-serif;
}

div.contents  td.contentsarea {
	font-size: 9pt;
	font-family: helvetica, "trebuchet MS", arial, sans-serif;
}




/* start breadcrumb styles */


div.navbar{
	list-style: none;
	margin: 0;
	padding-left: 0px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 8pt;
	color: #999999;
	display: block;
	clear: both;
	background-color: #ffffff;
	clear: both;
	width: 100%;
	height: 14px;	
}


 a.prev:link,  a.prev:visited{
	float: left;
	color: #999999;
	text-decoration: none;
	padding-left:14px;
	padding-right:0px;
	padding-top:2px;
	padding-bottom:0px;			
	margin:0px;
	height: 14px;	
	text-align: left;		
	background: #ffffff url(http://www.ebi.ac.uk/inc/images/nav_previous.gif) top left no-repeat;	
}

.navspacer, .nextprev{
	color: #999999;
	height: 14px;
	padding-top:2px;
	padding-bottom:0px;		
}

 a.prev:hover,  a.prev:active {
	float: left;
	color: #e33e3e;
	text-decoration: underline;
	padding-left:14px;
	padding-right:0px;
	padding-top:2px;
	padding-bottom:0px;			
	margin:0px;
	height: 14px;	
	text-align: left;		
	background: #ffffff url(http://www.ebi.ac.uk/inc/images/nav_previous.gif) top left no-repeat;	
}

 a.next:link,  a.next:visited{
	float: right;
	color: #999999;
	text-decoration: none;
	padding-left:0px;
	padding-right:14px;
	padding-top:2px;
	padding-bottom:0px;			
	margin:0px;
	height: 14px;	
	text-align: left;		
	background: #ffffff url(http://www.ebi.ac.uk/inc/images/nav_next.gif) top right no-repeat;	
}

a.next:hover,  a.next:active {
	float: right;
	color: #e33e3e;
	text-decoration: underline;
	padding-left:0px;
	padding-right:14px;
	padding-top:2px;
	padding-bottom:0px;			
	margin:0px;
	height: 14px;	
	text-align: right;		
	background: #ffffff url(http://www.ebi.ac.uk/inc/images/nav_next.gif) top right no-repeat;	
}




.breadcrumbs{
	list-style: none;
	margin: 0;
	padding-left: 2px;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 8pt;
	color: #999999;
	display: inline;
	clear: both;
	background-color: #ffffff;
}

div.breadcrumbs a:link, div.breadcrumbs  a:visited, div.breadcrumbs span.nolink {
	color: #999999;
	text-decoration: none;
	padding-left:12px;
	padding-right:0px;
	padding-top:2px;
	padding-bottom:0px;			
	margin:0px;
	height: 14px;	
	text-align: left;		
	background: transparent url(http://www.ebi.ac.uk/inc/images/bread_arrow2.gif) top left no-repeat;	
}

.contents .breadcrumbs a:hover, .contents .breadcrumbs a:active {
	color: #e33e3e;
	text-decoration: underline;
	padding-left:12px;
	padding-right:0px;
	padding-top:2px;
	padding-bottom:0px;			
	margin:0px;
	height: 14px;	
	text-align: left;		
	background: transparent url(http://www.ebi.ac.uk/inc/images/bread_arrow2.gif) top left no-repeat;	
}

.breadcrumbs a.firstbreadcrumb:link, .breadcrumbs a.firstbreadcrumb:visited {
	color: #999999;
	text-decoration: none;
	padding-left:0px;
	padding-right:0px;
	padding-top:2px;
	padding-bottom:0px;			
	margin:0px;
	height: 14px;	
	text-align: left;		
	background: transparent;	
}

div.breadcrumbs a.firstbreadcrumb:hover, div.breadcrumbs a.firstbreadcrumb:active {
	color: #e33e3e;
	text-decoration: underline;
	padding-left:0px;
	padding-right:0px;
	padding-top:2px;
	padding-bottom:0px;			
	margin:0px;
	height: 14px;	
	text-align: left;	
	background: transparent;	
}



.rightbreadcrumbs{
	list-style: none;
	margin: 0;
	padding-left: 2px;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 8pt;
	color: #006666;
	width: 150px;
	text-align: right;
	display: inline;
	float: right;
	margin-top: -14px;
	font-size: 8px;
	vertical-align: top;
}

.breadcrumbs a.rightbreadcrumbslink:link,    .breadcrumbs a.rightbreadcrumbslink:visited{
	color: #006666;
	text-decoration: none;
	padding-left:10px;
	padding-right:0px;
	padding-top:2px;
	padding-bottom:0px;			
	margin:0px;
	height: 14px;	
	text-align: left;
	background:  url(http://www.ebi.ac.uk/inc/images/pipe.gif) top left no-repeat;
	font-size: 8pt;
}

.breadcrumbs a.rightbreadcrumbslink:hover, .breadcrumbs a.rightbreadcrumbslink:active{
	color: #e33e3e;
	text-decoration: underline;
	padding-left:10px;
	padding-right:0px;
	padding-top:2px;
	padding-bottom:0px;			
	margin:0px;
	height: 14px;	
	text-align: left;
	background: url(http://www.ebi.ac.uk/inc/images/pipe.gif) top left no-repeat;
	font-size: 8pt;
}

.breadcrumbs a.rightbreadcrumbsfirstlink:link,    .breadcrumbs a.rightbreadcrumbsfirstlink:visited{
	color: #006666;
	text-decoration: none;
	padding-left:0px;
	padding-right:0px;
	padding-top:2px;
	padding-bottom:0px;			
	margin:0px;
	height: 14px;	
	text-align: left;
	background:  url(../images/spacer.gif) top left no-repeat;
	font-size: 8pt;
}

.breadcrumbs a.rightbreadcrumbsfirstlink:hover, .breadcrumbs a.rightbreadcrumbsfirstlink:active{
	color: #e33e3e;
	text-decoration: underline;
	padding-left:0px;
	padding-right:0px;
	padding-top:2px;
	padding-bottom:0px;			
	margin:0px;
	height: 14px;	
	text-align: left;
	background: url(../images/spacer.gif) top left no-repeat;
	font-size: 8pt;
}

.breadcrumbs div.blindspacer, .blindlabel, div.blindspacer{
	visibility: hidden; 
	display: none; 
	width: 0px; 
	height: 0px;
}



/* end breadcrumb styles */


/* start group logo in top right of pages */

.contents td img.grouplogo {
	border:0;
	width: 113px;
	height:75px;
	padding: 0;
	margin: 4px 0px 6px 6px;
	float: right;
}
/* end group logo in top right of pages */

/* start bordered boxes and other custom textural boxes or elements */

.commentsbox {
	font-family: "Courier New", Courier, mono ;
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
	padding: 12px;
	background: #edf5ea;
	border: 1px solid #d9dadc;
	margin: 0;
	display: block;
}

.normaltextcommentsbox {
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
	padding: 12px;
	background: #edf5ea;
	border: 1px solid #d9dadc;
	margin: 0;
}

 .insidecommentsbox {
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
	color: #000000;
	font-weight: normal;
	padding: 0;
	border: 0;
	margin: 0;
}


.code {
	text-align: left;
	font-family: "Courier New", Courier, mono ;
    color: #616161; 
	padding: 12px;
	background: #edf5ea;
	border: 1px solid #d9dadc;
	margin: 0;
}



ul.codesmall, ol.codesmall {
	text-align: left;
	font-family: "Courier New", Courier, mono ;
    color: #616161; 
	padding: 12px;
	background: #edf5ea;
	border: 1px solid #d9dadc;
	width:545px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 30px;
}

ul.codesmall li, ol.codesmall li{
	margin-left: 30px
}



ul.tablehover, ol.tablehover {
	text-align: left;
	padding-left: 5px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	width:545px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
}

ul.tablehover li, ol.tablehover li{
	margin-left: 10px
}


/* style of a pre-formatted element*/


.contents td .pre, .pre_style {
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
	color: #000000;
}

pre a:link, pre a:active, pre a:visited, pre a:hover,  .pre_style a:link, .pre_style a:active, .pre_style a:visited, .pre_style a:hover {
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
}

pre, .pre_style  {
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
	color: #000000;
}

.pre_style  {
	white-space: nowrap;
}

.pre_style a:link , pre a:link { font-family: "Courier New", Courier, mono; font-size: 9pt; font-weight: normal; color: blue ; text-decoration: underline}
.pre_style a:visited, pre a:visited { font-family: "Courier New", Courier, mono; font-size: 9pt; font-weight: normal; color: purple ; text-decoration: underline}
.pre_style a:active , pre a:active { font-family: "Courier New", Courier, mono; font-weight: normal; color: blue ; text-decoration: underline}
.pre_style a:hover, pre a:hover { font-family: "Courier New", Courier, mono; font-weight: normal; color: blue ; text-decoration: underline}


.pre_style a:link, .pre_style a:visited {
	color: #006666;
}

.pre_style a:hover, .pre_style a:active {
	color: #e33e3e;
}

.pre_style_green{
	color: #73b360;
}

.pre_style_red{
	color: #ff0000;
}

.pre_style_blue{
	color: #0000ff;
}

.pre_style_yellow{
	color: #ffff00;
}

.pre_style_faint{
	color: #9e9e9e;
}


/* end style of a pre-formatted element*/

.contents td .cssinfobox {
	font-family: "Courier New", Courier, mono;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	padding: 12px 30px 12px 30px;
	background: #ffffff;
	border: 1px solid #d9dadc;
	margin: 0px 20px 10px 30px;
}

.contents td .examplebox {
	padding: 12px;
	border: 1px solid #d9dadc;
	margin: 0;
}

/* used for staff pages eg. http://www.ebi.ac.uk/luscombe/members.html */

/*.contents td .noborderp10rightbig {
	border: 0;
	padding-right:10px;
	width:473px;
}

.contents td .noborderp10rightbiggrey {
	border: 0;
	padding-right:10px;
	width:473px;
	background-color:#dedede;
}

.contents td .noborderp10left {
	border: 0;
	padding-left:10px;
}

.contents td .noborderp10right {
	border: 0;
	padding-right:10px;
}

.contents td .borderbotp10bothgrey {
	border-top: 0px;
	border-right: 0px;
	border-bottom: 1px solid #adadaf;
	border-left: 0px;
	padding-left:10px;
	padding-right:10px;
	background-color:#dedede;
}

*/

.contents td .noborder {
	border: 0;
}

.contents td .noborderp10both {
	border: 0;
	padding-left:10px;
	padding-right:10px;
}

.contents td .borderbotp10rightbig {
	border-top: 0px;
	border-right: 0px;
	border-bottom: 1px solid #adadaf;
	border-left: 0px;
	padding-right:10px;
	width:473px;
}

.contents td .noborderp10bothgrey {
	border: 0;
	padding-left:10px;
	padding-right:10px;
	background-color:#dedede;
}

.contents td .borderbotp10rightbiggrey {
	border-top: 0px;
	border-right: 0px;
	border-bottom: 1px solid #adadaf;
	border-left: 0px;
	padding-right:10px;
	width:473px;
	background-color:#dedede;
}

.contents td .nobordergrey {
	border: 0;
	background-color:#dedede;
}


.contents td .borderbotp10both {
	border-top: 0px;
	border-right: 0px;
	border-bottom: 1px solid #adadaf;
	border-left: 0px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
}


hr, div.rule {
    border-top: 1px solid #D9DADC;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px; 
	width: 100%;
	height: 1px;
 	text-align: left;
	margin: 10px 0px 10px 0px; /* top right bottom left*/
	clear: both;
	color: #ffffff;
}






/* end bordered boxes and other custom textural boxes or elements */

/* training handson trainer gallery */
.trainergallery{
	overflow:auto;
	width: 585px;
	background-color: #edf6f5;
/*	background:#FF0000;*/
	border: 1px solid #adadaf;
	padding: 0;
	text-align: center;
	margin: 0;
}

.trainergallery_row{
	position:relative;
	padding: 0;
	text-align: center;
	background-color: #edf6f5;
	color: #000000;
	font-size: 8pt;
	width: 585px;
/*	background:#00ff00;*/
	margin: 0;
	border: 0;
}

.trainergallery_row_item{
	position:relative;
	float:left;
	text-align: center;
	width:97px;	
	border: 0px;
	padding-top:10px;
	padding-bottom:5px;
	padding-left:0px;
	padding-right:0px;
	vertical-align:top;
/*	background:#0000ff;*/
	margin: 0;
}

.trainergallery_row_item img { 
	border: 1px solid #000000; 
	width: 50px;
	height:54px;
}

.trainergallery_row_item:hover {
	background: #dedede;
}

.trainergallery_row_item a:link, .trainergallery_row_item a:visited, .trainergallery_row_item a:hover, .trainergallery_row_item a:active { 
	text-decoration:none;
}

/* start tables for infomation pages... */

.contenttable_max {
	width: 100%;
}

.contenttable {
	width: 769px;
}

.contenttable_lmenu_noborder, .contenttable_lmenu2, .contenttable_lmenu, .bodyTable{
	width: 585px;
}

.summarytable{
	width: 100%;
}	



.contenttable_lmenu_noborder, .contenttable_lmenu2, .contenttable, .contenttable_lmenu, .bodyTable, .summarytable, .contenttable_max{
	padding: 0;
	text-align: center;
	border: 1px solid #adadaf;
	border-collapse: collapse;
	background-color: #edf6f5;
	color: #000000;
	margin-left: 1px;
	font-size: 8pt;
}

.contenttable_lmenu2_training{
	padding: 0;
	text-align: center;
	border: 0px;
	border-collapse: collapse;
	background-color: #edf6f5;
	color: #000000;
	font-size: 8pt;
	width: 585px;
}

.contenttable_lmenu2_training td{
	text-align: center;
	width:93px;	
	border: 0px;
	padding-top:10px;
	padding-bottom:5px;
	vertical-align:top;	
}

.contenttable_lmenu2_training td:hover {
	background: #dedede;
}

.contenttable_lmenu2_training td:hover.nohover {
	background: #edf6f5;
}

.contenttable_lmenu2_training td a:link, .contenttable_lmenu2_training td a:visited, .contenttable_lmenu2_training td a:hover, .contenttable_lmenu2_training td a:active { 
	text-decoration:none;
}


.contenttable_lmenu2_training td img { 
	border: 1px solid #000000; 
	width: 50px;
	height:54px;
}




.contenttable_lmenu_noborder td, .contenttable_lmenu_noborder th {
	border: 0px;
	text-align: left;
}



.contenttable_max input, .contenttable_max select, .contenttable_max textarea, .contenttable input, .contenttable select, .contenttable textarea, .contenttable_lmenu input, .contenttable_lmenu select, .contenttable_lmenu textarea, .contenttable radio, .contenttable checkbox, .contenttable_lmenu radio, .contenttable_lmenu checkbox {
	font-size: 8pt;
}

tr.ruled, tr.ruled td a:active, tr.ruled td a:link, tr.ruled td a:hover, tr.ruled td a:visited{
/*	background:#cae2c3;
	color:#006666;*/
	background:#dedede;	
} 

td.ruledover{
	background:#dedede;	
}


.smalltable{
	padding: 0;
	border-collapse: collapse;
	border: 0;
}

.smalltable th, .smalltable td, .smalltable input, .smalltable select, .smalltable textarea, .smalltable radio, .smalltable checkbox {
	font-size: 8pt;
}

.contenttable_max th, .contenttable th, .bodyTable th, .contenttable_lmenu th, .summarytable th{
	background-color: #5e9e9e;
	color: #000000;
	border: 1px solid #adadaf;
	padding: 3px;
	vertical-align: top;
	font-size: 9pt;
	color: #ffffff;
}

.contenttable_max th a, .contenttable th a, .contenttable_lmenu th a, .bodyTable th a{
	color: #ffffff;
}

.contenttable_max td, .contenttable td, .contenttable_lmenu td, .bodyTable td{
	text-align: left;
	border: 1px solid #adadaf;
	vertical-align: top;
	padding: 3px;
	font-size: 8pt;
}


.contenttable_max td  p, .contenttable td p, .contenttable_lmenu td p, .bodyTable td p, .contenttable_max td, .contenttable_max td input, contenttable_max  td select, contenttable_max  td textarea, .contenttable td input, .contenttable td, contenttable td select, contenttable td textarea, .contenttable_lmenu td , .bodyTable td, .contenttable_lmenu td input, contenttable_lmenu td select, contenttable_lmenu td textarea{
	font-size: 8pt;
}


.contenttable_lmenu_input , .contenttable_lmenu_input_sm {width: 402px;} 
.contenttable_lmenu_select, .contenttable_lmenu_select_sm {width: 405px;} 
.contenttable_lmenu_input_sm, .contenttable_lmenu_select_sm {font-size: 8pt; }

.contenttable_max td.leftsubheading, .contenttable td.leftsubheading, .contenttable th.leftsubheading, .contenttable_lmenu td.leftsubheading, .contenttable_lmenu th.leftsubheading{
	/*background-color: #fbe6e6;*/
	color: #404040;
	border: 1px solid #adadaf;
	padding: 3px;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	width: 165px;
}
.contenttable_max td.subheading, .contenttable td.subheading, .contenttable_lmenu td.subheading  {
	color: #404040;
	border: 1px solid #adadaf;
	padding: 3px;
	vertical-align: top;
	text-align: center;
	font-weight: bold;
	background-color: #bdd7d7;
}

.contenttable_max td.whitecell, .contenttable td.whitecell, .contenttable_lmenu td.whitecell  {
	background-color: #ffffff;
}



.contenttable_max th.headingleft, .contenttable th.headingleft, .contenttable_lmenu th.headingleft {
	text-align: left;
}

.contenttable_max th.headingright, .contenttable th.headingright, .contenttable_lmenu th.headingright {
	text-align: right;
}

.contenttable_max td.subheadingleft, .contenttable td.subheadingleft, .contenttable_lmenu td.subheadingleft    {
	color: #404040;
	border: 1px solid #adadaf;
	padding: 3px;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	background-color: #bdd7d7;
}




.contenttable_max td.subheadingright, .contenttable td.subheadingright, .contenttable_lmenu td.subheadingright  {
	color: #404040;
	border: 1px solid #adadaf;
	padding: 3px;
	vertical-align: top;
	text-align: right;
	font-weight: bold;
	background-color: #bdd7d7;
}


.contenttable_max td.tdright, .contenttable td.tdright, .contenttable_lmenu td.tdright {
	text-align: right;
}

.contenttable_max td.tdcenter, .contenttable td.tdcenter, .contenttable_lmenu td.tdcenter {
	text-align: center;
}

.contenttable_max td.tdleft, .contenttable td.tdleft, .contenttable_lmenu td.tdleft {
	text-align: left;
}
/* no border version....*/
td.leftsubheading{
	color: #404040;
	border: 0;
	padding: 3px;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	width: 140px;
}

/* changes background colour of td cells on hover, see http://www.ebi.ac.uk/es/members.html....*/
td.tdcolourhoverhead {
	background: #dedede;
}

td:hover.tdcolourhoverhead {
	background: #f8cfcf;
}

td.tdcolourhoverhead2 {
	background: #ddf6dc;
}

td:hover.tdcolourhoverhead2 {
	background: #dedede;
}
  
td:hover.tdcolourhover {
	background: #dedede;
}


/* Alternate Row Colour */
.alternaterowcolour{
	background-color: #ffffff;
}

.highlight{
	background-color: #73b360;
	color: #000000;
}



/* end tables for info pages... */



/* revert back to normal text style */
.normal {
	color: #000000;
	font-size: 12pt;
	font-family: helvetica, "trebuchet MS", arial, sans-serif;
	font-weight: normal;
}

/* legend under a figure text style */
.figure {
	color: #000000;
	font-size: 8pt;
	font-family: helvetica, "trebuchet MS", arial, sans-serif;
	font-weight: normal;
	font-style: italic;
}


/* add a double break to list items */
ul.lidoublebreak li{
	margin-bottom: 10px
}






table.publication_citation{
	width: 450px;
	border: 1px solid #adadaf;
	/*background-color: #bdd7d7;*/
	border-collapse: collapse;
}

th.journal_citation{
	width: 200px;
}

th.pubmed_id{
	width: 250px;
}

table.publication_citation th, table.publication_citation td{
	border: 1px solid #adadaf;
}






/* start default text style 




body, td.contentsarea, div.contents  td{  
	font-size: 9pt;
	font-family: helvetica, "trebuchet MS", arial, sans-serif;
}


*/


/* end default text style */


/* iframe css for registration pages */
#contents div.eventsContainer {
	position:relative; 
	left:77; 
	top:77; 
	width:1200px; 
	height:1600px; 
	clip:rect(0,652,802,0); 
	background:#fff;
}



#contents iframe.events {
	border-width:1px; 
	border-color:#dedede; 
	background:#fff; 
	border-style:solid;
	width:1200px;
	height:1600px;	
}








