
form {
	margin: 0;
	padding: 0;
}

input[type="text"]{
	background-color: #ffffff;
}

/* start web forms section */



table.inputform span.text{
	font-size: 9pt;
	font-weight: normal;
	color: #000000;
}

table.inputform{
	padding: 0;
	/*border: 1px solid #adadaf;*/
	border: 0;
	border-collapse: collapse;
	width: 566px;
	margin-left: 6px;
	font-size: 9pt;
	font-weight: normal;
}

table.inputform td a:visited, table.inputform td a:link{
	text-decoration: none;
}

table.inputform th{	/*background: #bdd7d7;*/ 
	font-size: 10pt; font-weight: bold; 
	/*border: 1px solid #adadaf;*/
	padding: 3px;
	text-align: center;
	color: #006666;
	vertical-align: top;
}

table.inputform td{
	padding: 3px;
	/*border: 1px solid #adadaf;*/
	vertical-align: top;

}

table.inputform td.subheading{
	/*background: #deebeb;*/
	/*border: 1px solid #adadaf;*/
	padding: 3px;
	color: #006666;
	vertical-align: top;
	font-size: 9pt; 
	font-weight: bold; 
}

table.inputform td.plaintd{
	border: 0;
}

table.inputform td.whitetd{
	/*background-color: #ffffff;*/
	border: 0;
}

table.inputform tr td table  {
	border: 0;
	border-collapse: collapse;
	width: 100%;
	float: left;
}

table.inputform tr td table td, table.inputform tr th table td {
	border: 0;
	padding: 0;
	width: auto;
}

.feint{
	color: #006666;
}



/* Begin Round borders */

/*.container {width: 200px;} */

.container {
	width: 100%;
	margin: 0;
}

#xround h1, #xround h2, #xround p, .xround h1, .xround h2, .xround p {
	/*margin: 0 10px; */
	margin: 0;
	letter-spacing: 1px;
}
/*
#xround h1 {
	font-size:2.5em; 
	color:#ffffff;
}

#xround h2 {
	font-size:14px;
	color:#06a; 
	border:0;
	font-family: helvetica, "trebuchet MS", arial, sans-serif;
}

#xround p {
	padding-bottom:0.5em; 
	font-size: 10px;
	font-family: helvetica, "trebuchet MS", arial, sans-serif;
}

#xround .title {
	font-size: 10px;
	font-family: helvetica, "trebuchet MS", arial, sans-serif;
	color:#804c1a; 
	text-decoration:none;
}

#xround .title:hover {
	font-size: 10px;
	font-family: helvetica, "trebuchet MS", arial, sans-serif;
	color:#0066aa; 
	text-decoration:none;
}
*/
#xround h2, .xround h2  {
	padding-top: 0.5em;
}

#xround, .xround{
	background: transparent; 
	/*margin: 1em;*/
	margin: 0;
}

.xtop, .xbottom {
	display: block; 
	background: transparent; 
	font-size: 1px;
}

.xb1, .xb2, .xb3, .xb4 {
	display: block; 
	overflow: hidden;
}

.xb1, .xb2, .xb3 {
	height: 1px;
}

.xb2, .xb3, .xb4 {
	background: #eef5f5; /*  background here #1 */ 
	border-left: 1px solid #bfbfbf; 
	border-right: 1px solid #bfbfbf;
}

.xb1 {
	margin:0 5px; 
	background:#bfbfbf; /* is a border color! */
}

.xb2 {
	margin:0 3px; 
	border-width:0 2px;
}

.xb3 {
	margin:0 2px;
}

.xb4 {
	height: 2px; 
	margin: 0 1px;
}

.xboxcontent {
	display: block; 
	background: #eef5f5; /*  background here #2 */
	padding-right: 6px;
	border: 0 solid #bfbfbf; 
	border-width: 0 1px;
}

/* End Round Borders */


/* start form buttons */

.submit_button{
	width: 80px;
	background: #e33e3e;
	margin: 0;
	padding: 0;
	color: #ffffff;
	vertical-align: text-bottom;
	text-align: center;
	font-size: 8pt;
	font-weight: bold;
	cursor: pointer;
}

.reset_button{
	width: 80px;
	background: #e33e3e;
	margin: 0;
	padding: 0;
	color: #ffffff;
	vertical-align: text-bottom;
	text-align: center;
	font-size: 8pt;
	font-weight: bold;
	cursor: pointer;
}

/* end form buttons */










