/* add stuff from php server here  */








.external2Input { border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-top: 1px solid #000000; font-family: Arial, Helvetica, sans-serif, Tahoma; font-size: 12px; }

.external3Input { border-bottom: 1px solid #bfbfbf; border-left: 1px solid #bfbfbf; border-right: 1px solid #bfbfbf; border-top: 1px solid #bfbfbf; font-family: Arial, Helvetica, sans-serif, Tahoma; font-size: 12px; }



