
.text{
    color: #000000;
    font-size: 10pt;
    font-weight: normal;
}

div.right_page h1 a, div.right_page h1 a:link, div.right_page h1 a:active, div.right_page h1 a:hover, div.right_page h1 a:visited {
    font-size: 11pt;
    color: #006666;
}






.contents h1{
    font-size: 11pt;
    color: #006666;
    padding: 4px;
    background: #eef5f5;
    border: 1px solid #bfbfbf;
    margin: 5px 0px 10px 0px;
    font-weight: bold;
}

.contents .h1_left {
    font-size: 11pt;
    color: #006666;
    background: #eef5f5;
    margin: 5px 0px 10px 0px;
    font-weight: bold;
	border-bottom: 1px solid #bfbfbf;
	border-top: 1px solid #bfbfbf;
	border-left: 1px solid #bfbfbf;
	border-right: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 0px;
	float: left;
	display: inline;
}

.contents .h1_right {
    font-size: 11pt;
    color: #006666;
    background: #eef5f5;
    font-weight: bold;
	border-bottom: 1px solid #bfbfbf;
	border-top: 1px solid #bfbfbf;
	border-right: 1px solid #bfbfbf;
	border-left: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	padding-left: 0px;
	margin: 5px 0px 10px 0px;
	float: left;
	clear: right;
	display: inline;
}


.contents h2 {
    font-size: 10pt;
    color: #1f1f1f;
    padding: 0;
    background: #ffffff;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid #d9dadc;
    margin: 25px 0px 5px 0px;
    font-weight: bold;
}

h2.navheading, div.navheading{
	border: 0px;
	text-align: right;
	margin: 0px 0px 0px 0px;
	padding: 2px 5px 2px 5px;
    font-size: 8pt;
    font-weight: bold;
	width: auto;
	float: right;
	clear: both;
}


.contents h3 {
    font-size: 9pt;
    color: #006666;
    padding: 0;
    background: #ffffff;
    border: 0;
    margin: 5px 0px 0px 0px;
    font-weight: bold;
}

.contents h4 {
    font-size: 9pt;
    color: #1f1f1f;
    padding: 0;
    background: #ffffff;
    border: 0;
    margin: 5px 0px 0px 0px;
    font-weight: bold;
}

.contents h5 {
    display: inline;
    font-size: 9pt;
    font-weight: normal;
}


.contents h6 {
    display: inline;
    font-size: 8pt;
    font-weight: bold;
}


.contents h7 {
    display: inline;
    font-size: 8pt;
    font-weight: normal;
}

p{
    margin-bottom: 0;
    clear: left;
    /* line-height: 16px;*/
	font-size: 12px;
}

.contents p{
    margin-bottom: 0;
    clear: left;
	font-size: 9pt;
}

/*  match to p tag 	*/
.contentsarea{
    /* line-height: 16px;*/
	font-size: 12px;
}




p.textjustify{
	font-size: 12px;
    margin-bottom: 0;
    clear: left;
    /* line-height: 16px;*/
	text-align: justify;
} 


.red {  
	color: #e33e3e
}

/*  red star image applied to text 	*/
.redstartext {
	background: url(http://www.ebi.ac.uk/inc/images/redstar.gif) no-repeat;
	text-align: left;
	padding-left: 12px;
}




.h1center {
    font-size: 12pt;
    color: #1f1f1f;
    padding: 0;
    background: #ffffff;
    margin: 25px 0px 5px 0px;
    font-weight: bold;
	text-align: center;
}

.h2center {
    font-size: 10pt;
    color: #1f1f1f;
    padding: 0;
    background: #ffffff;
    margin: 25px 0px 5px 0px;
    font-weight: bold;
	text-align: center;
}


.linkboldstyle {
	font-size: 10pt;
	color: #006666;
	text-decoration: none;
	font-weight: bold;
}





