.bodynav li ul li  a:link,  .bodynav li  ul li  a:active, .bodynav li  ul li  a:hover, .bodynav li  ul li  a:visited{
	text-decoration: none;
}


.bodynav, .bodynav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1.1;
}

 
.bodynav a, .bodynav span {
	display: block;
	color: #006666;
}


.bodynav li { /* all list items */
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
	/*background: #edf6f5;*/
}






.bodynav li ul { /* second-level lists */
	position: absolute;
	left: -999em; 
}


.bodynav li ul  a {
	padding-left: 2px;
}

 
.bodynav li ul ul { /* third-and-above-level lists */

}


.bodynav li:hover ul ul, .bodynav li:hover ul ul ul, .bodynav li.sfhover ul ul, .bodynav li.sfhover ul ul ul{
	left: -999em;
}


.bodynav li:hover ul, .bodynav li li:hover ul, .bodynav li li li:hover ul, .bodynav li.sfhover ul, .bodynav li li.sfhover ul, .bodynav li li li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}


.bodynav li ul li, .bodynav li ul li ul li{
	border-left:  1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}


.bodynav li ul li:first-child, .bodynav li ul li ul li:first-child{
	border-top:  1px solid #cccccc;
}




.bodynav li ul li ul li{ /*level 3 */
	
}


.bodynav ul li:hover, .bodynav ul li.sfhover {
	background: #e9e9e9;
}

 
.bodynav ul li:hover a:hover, .bodynav ul li.sfhover a:hover{
	color: #000000;
}



.bodynav li li
{
	background: #ffffff url('http://www.ebi.ac.uk/inc/images/menu_contents_bg.gif') repeat-x scroll bottom left; ;
}




/*level 1 */
.bodynav a, .bodynav li
{
	width: 10em;
} 
/*level 2 */
.bodynav li ul, .bodynav li ul li, .bodynav li ul a
{
	width: 10em;
}
/*level 3 */
.bodynav li ul ul 
{ 
	margin: -1.35em 0 0 10em;
}
